 <!-- Lade den humanize-Filter für intcomma -->
{% load humanize %}
<div style="margin-top:100px; margin-bottom: 20px;">
{% for osp in original.order_service_phases.all %}
    <h3 style="margin-bottom: 10px; font-weight: bold; border-bottom: 1px solid #ddd; padding-bottom: 5px;">
        {{ osp.get_inline_title }}
    </h3>
    <p>
        {{ osp.name }}
    </p>


    {% if osp.rebate %}
        <p style="font-size: 1.1em; margin: 5px 0; text-align: right; padding-right: 15px;">
            Summe: {{ osp.sum_amount|floatformat:2 }} €<br/>
            Rabatt ({{ osp.rebate }} %): {{ osp.sum_rebate_amount|floatformat:2 }} €<br/>
            Netto: {{ osp.sum_total_amount|floatformat:2 }} €<br/>
        </p>
        {% else %}
        <p style="font-size: 1.1em; margin: 5px 0; text-align: right; padding-right: 15px;">
            Netto: {{ osp.sum_amount|floatformat:2 }} €
        </p>
    {%  endif %}
    <hr>
{% endfor %}
    <h3 style="margin-bottom: 10px; font-weight: bold; border-bottom: 1px solid #ddd; padding-bottom: 5px;">
        Summe Leistungsphasen:
    </h3>
    <p style="font-size: 1.1em; margin: 5px 0; text-align: right; padding-right: 15px;">
        {% if original.sum_total_rebate_service_phases %}
            Summe: {{ original.total_service_phases_without_rebate|floatformat:2 }} € <br/>
            abzgl. Rabatt: {{ original.sum_total_rebate_service_phases|floatformat:2 }} €<br/>
        {% endif %}
        Netto: {{ original.total_service_phases|floatformat:2 }} €
    </p>

    {% for line_item in original.line_items.all %}
    <h3 style="margin-bottom: 10px; font-weight: bold; border-bottom: 1px solid #ddd; padding-bottom: 5px;">
        {{ line_item.name }}
    </h3>
    <p>
        <p style="font-size: 1.1em; margin: 5px 0; text-align: right; padding-right: 15px;">
            Summe: {{ line_item.amount|floatformat:2 }} €

        </p>
    </p>
{% endfor %}



    <h3 style="margin-bottom: 10px; font-weight: bold; border-bottom: 1px solid #ddd; padding-bottom: 5px;">
        Summe Besondere Leistungen:
    </h3>
    <p style="font-size: 1.1em; margin: 5px 0; text-align: right; padding-right: 15px;">
        {{ original.total_line_items|floatformat:2 }} €
    </p>

    <h3 style="margin-bottom: 10px; font-weight: bold; border-bottom: 1px solid #ddd; padding-bottom: 5px;">
        Summe Pauschalen:
    </h3>
    <p style="font-size: 1.1em; margin: 5px 0; text-align: right; padding-right: 15px;">
        {{ original.total_flat_fees|floatformat:2 }} €
    </p>
{% if original.additional_costs %}
    <h3 style="margin-bottom: 10px; font-weight: bold; border-bottom: 1px solid #ddd; padding-bottom: 5px;">
        Nebenkosten:
    </h3>
    <p style="font-size: 1.1em; margin: 5px 0; text-align: right; padding-right: 15px;">
        {{ original.total_additional_costs|floatformat:2 }} €
    </p>
{% endif %}

{% if original.km %}
    <h3 style="margin-bottom: 10px; font-weight: bold; border-bottom: 1px solid #ddd; padding-bottom: 5px;">
        Fahrtkosten ({{ original.km|floatformat:2 }} km x {{ original.km_cost|floatformat:2 }} €):
    </h3>
    <p style="font-size: 1.1em; margin: 5px 0; text-align: right; padding-right: 15px;">
        {{ original.total_km_costs|floatformat:2 }} €
    </p>
{% endif %}

    <h3 style="margin-bottom: 10px; font-weight: bold; border-bottom: 1px solid #ddd; padding-bottom: 5px;">
        Summe:
    </h3>
    <p style="font-size: 1.1em; margin: 5px 0; text-align: right; padding-right: 15px;">
        Netto: {{ original.total_net|floatformat:2 }} €<br/>
        Mwst: {{ original.total_vat|floatformat:2 }} €<br/>
        <strong>Brutto: {{ original.total_gross|floatformat:2 }} €</strong>
    </p>


</div>
